@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');
body{
    font-family: "Poppins", sans-serif;
}
/* Shared Styles */
*{
    margin: 0;
    padding: 0;
}
.btn-primary{
    background: #E02C6D;
    color: #fff;
    align-items: center;
    padding: 10px 24px;
    border: none;
    display: flex;
    gap: 8px;
    border-radius: 41px;
    font-weight: 700;
}

/* Nav Starts here */
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px 0;
    margin-bottom: 150px;

}
nav h3{
    font-weight: 700;
}
nav li{
    text-decoration: none;
}
nav a{
    text-decoration: none;
}
nav ul{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    list-style-type: none;
    font-weight: 600;
}

/* Nav bar snd here */

/* Hero Section Starts Here */
.hero-section{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 70vh;
    max-width: 100vw;
}
.hero-content{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1rem;
    max-width: 562px;

}
.hero-title{
    font-size: 3.125rem;
    font-weight: 700;
}
.hero-description{
    font-size: 1rem;
    font-weight: 500;
}
.hero-img{
    background-image: url("images/Circle\ design.svg");
    background-repeat: no-repeat;
    max-width: 476px;
    height: 476px;
}
/* Main Styles */
main{
    align-items: center;
}
/* Brand Section */
.brand-section{
    text-align: center;
    margin: 5vh auto;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    max-width: 80vw;
    align-items: center;
    justify-content: space-evenly;
    height: 10vh;
    border: 1px solid #00000031;

}
.brand-section img{
    width: 100px;
}




/* Responsive Media Query */
/* Mobile Devices */
@media screen and (max-width:576px) {
    nav{
        flex-direction: column;
    }
    .hero-section{
        flex-direction: column-reverse;
    }
    .hero-img{
        margin-top: 400px;
    }
    .hero-content{
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 360px;
    }
    .brand-section{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        justify-content: center;
    }
    .brand-section img{
        width: 70px;
    }

}


/* Tablet Device */